.table {
	border: 2px solid black;
	width: 100%;
	text-align: center;
	background-color: #66ccff;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	padding: 5px;
}

.child {
	border-bottom:1px solid black;
}

.page {
	border: 1px solid black;
	border-radius: 10px;
}

.menubutton {
	border-radius: 15px;
	height: 80px;
	width: 120px;
	color: #ffffff;
	background: #00b7ea;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	font: bold 15px/50px Arial;
	text-decoration: none;
	text-transform: uppercase;
	word-wrap: break-word;
	white-space: normal;
}

.menubutton:hover {
	background: #3cb0fd;
	text-decoration: none;
}

body b {
	background-color: #FFF;
}

.menuButton {
	width: 100%;
}

div.button {
	width: 100%;
	height: auto;
}

div.box {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	text-align: center;
	color: #FFF;
	font: bold 17px/50px Arial;
	text-decoration: none;
	text-transform: uppercase;
	background: #75d68a;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 10px;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

span.main a {
	display: block;
	width: 300px;
	height: 50px;
	text-align: center;
	color: #FFF;
	font: bold 15px/50px Arial;
	text-decoration: none;
	text-transform: uppercase;
}

span.red a {
	background: #FC2456;
}

span.blue a {
	background: #00b7ea;
}

span.green a {
	background: #75d68a;
}

span.orange a {
	background: #FF9900;
}

span.black a {
	background: #000;
}

span.grey a {
	background: #B5B5B5;
}

span.mini a {
	display: block;
	z-index: 1;
	width: 180px;
	height: 45px;
	text-align: center;
	color: #FFF;
	font: bold 10px/50px Arial;
	text-decoration: none;
	text-transform: uppercase;
}

.header {
	height: 60px;
	color:#ffffff;
	display: block;
	font: bold 10px/22px Arial;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
	vertical-align:middle;
}

.green {
	background-color:#75d68a;
}

.orange {
	background-color:#FF9900;
}

.red {
	background-color:#FB4C4C;
}

.black {
	background-color:#000000;
}

.blue {
	background: #00b7ea;
}

span.bottom a {
	display: block;
	z-index: -1;
	width: 150px;
	height: 40px;
	color: #FFF;
	margin: -55px 0 0 0px;
	font: bold 8px/45px Arial;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: margin 0.5s ease;
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	-o-transition: margin 0.5s ease;
	-ms-transition: margin 0.5s ease;
}

span.top a {
	display: block;
	z-index: -1;
	width: 150px;
	height: 40px;
	color: #FFF;
	margin: -40px 0 0 0px;
	font: bold 8px/35px Arial;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: margin 0.5s ease;
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	-o-transition: margin 0.5s ease;
	-ms-transition: margin 0.5s ease;
}

div.button span a {
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 10px;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.maximised {
	 position:absolute;
    top:0;
    left:0;
    width:100%;
    -webkit-transform: scale(4);
    -webkit-transform-origin: 0 0;
    border:0 none;
    z-index:9;
}

/*---------------  HOVER  ---------------
-----------------------------------------*/
.button:hover span.top a {
	margin: -82px 0 0 10px;
}

.button:hover span.bottom a {
	margin: -7px 0 0 10px;
}

/*---------------  ACTIVE  -------------- 
-----------------------------------------*/
.button a:active {
	background: #FB4C4C;
}

.button:active span.top a {
	margin: -82px 0 0 10px;
}

.button:active span.bottom a {
	margin: -7px 0 0 10px
}

.text {
	color: #FFF;
	font: bold 17px/50px Arial;
	text-decoration: none;
	text-transform: uppercase;
}

.login {
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	color: #ffffff;
	display: block;
	text-align: center;
	font: bold 13px/50px Arial;
	text-transform: uppercase;
}

.textbox {
	background: #00b7ea;
	height: 120px;
	width: 400px;
	padding: 5px 0px 10px 30px;
}

.loginbutton {
	background: #707070;
	height: 40px;
	width: 250px;
}

.accessError {
	
}

.bdyleft {
	margin-left: 1%;
	display: none;
}

.flat-form {
  background: #00b7ea;
  margin: 25px auto;
  width: 390px;
  height: 340px;
  position: relative;
  font-family: 'Arial';
  border-radius: 15px;
}


.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
  font-family: 'Arial';
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  color: #00b7ea;
  outline: none;
}


.show {
  display: block;
}
.hide {
  display: none;
}

.loginButton {
    border: none;
    display: block;
    background: #e74c3c;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.loginButton:hover {
  background: #1e75aa;
}

.loginButton:active {
  background: #e74c3c;
}

::-webkit-input-placeholder {
  color: #00b7ea;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #00b7ea;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #00b7ea;
}
:-ms-input-placeholder {
  color: #00b7ea;
}